# Server Configuration
PORT=5000
FRONTEND_URL=http://localhost:3000

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/fithub

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRE=7d

# Redis Configuration
REDIS_URL=redis://localhost:6379

# RabbitMQ Configuration
RABBITMQ_URL=amqp://localhost

# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_test_SYDF3ATKs6rElb
RAZORPAY_KEY_SECRET=BY1FtxliUwSCXsuZ5n2lNIrH

# Email Configuration (for RabbitMQ email worker)
SMTP_EMAIL=lalataprasad664@gmail.com
SMTP_PASSWORD=bdpydrevbmceahnv
